

#simvue files
simvue.ini
simvue.toml

#Saved Models
Models/
*.pth
*.pt 

#Venv
.venv/
venv/

#Saved Plot
Plots/
*.png
*.pdf
*.svg

#SLURM files
*.file
*.out

#Log files
*.log

#Submission Script
*.sh

#Data
Data/
*.npy
*.npz
*.h5


*.pyc
*.DS_Store